name: Main Branch Push

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14.2"]

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run build checks
        run: |
          uv run ./scripts/build.sh

      - name: Build package
        run: |
          uv run poetry build
